@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');


*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
	font-family: 'Quicksand', sans-serif;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

/*  ligth-mode-text: rgb(45, 51, 79);
	light-mode-calender-active-background: rgb(45, 51, 79);
	light-mode-calender-active-event-background: rgb(45, 51, 79) put opacity;
	light-mode-calender-active-text: white;
	light-mode-calender-hover: rgb(89, 116, 189);
*/


/* 
light-mode-calender-background: rgb(45, 51, 79);
	dark-mode-text:  rgb(199, 192, 224);
	light-mode-calender-active-background: rgb(89, 116, 189);
	light-mode-calender-active-event-background: rrgb(141, 148, 199)
	light-mode-calender-active-text: rgb(191, 207, 247);
	light-mode-calender-hover: rgb(89, 116, 189);
*/

/* <div class="Theme__theme___2NcED"><div class="Swatch__swatch___3njYU Swatch__swatch___3njYU" style="background: rgb(191, 207, 247);"></div><div class="Swatch__swatch___3njYU Swatch__swatch___3njYU" style="background: rgb(89, 116, 189);"></div><div class="Swatch__swatch___3njYU Swatch__swatch___3njYU" style="background: rgb(45, 51, 79);"></div><div class="Swatch__swatch___3njYU Swatch__swatch___3njYU" style="background: rgb(141, 148, 199);"></div><div class="Swatch__swatch___3njYU Swatch__swatch___3njYU" style="background: rgb(199, 192, 224);"></div></div> */